@import 'variables';

.consumer {
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    padding: 10px 20px;

    & + & {
      border-top: 1px $midnight-blue solid;
    }

    &__websites {
      padding-left: 0;
    }
  }

  &__link {
    color: $gray-400;
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: lighten($gray-400, 10%);
    }
  }

  &__muted {
    color: $gray-500;
  }

  &__list-style {
    list-style: none;
  }

  &__registration-number {
    color: $gray-500;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}
